{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "endOfLine": "auto",
  "printWidth": 120,
  "organizeImportsSkipDestructiveCodeActions": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
